@model ContactInfo
@{
    ViewData["Title"] = "create";
}
<h1>Create new contact</h1>
<hr />
<form asp-action="EditContact" method="post">
    <div class="form-group">
        <label asp-for="ContactId" class="Form-Control"></label>
        <input asp-for="ContactId" class="form-control" />
        <span asp-validation-for="ContactId" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="FirstName" class="Form-Control"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="Form-Control"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
 
    <div class="form-group">
        <label asp-for="EmailId" class="Form-Control"></label>
        <input asp-for="EmailId" class="form-control" />
        <span asp-validation-for="EmailId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MobileNo" class="Form-Control"></label>
        <input asp-for="MobileNo" class="form-control" />
        <span asp-validation-for="MobileNo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Designation" class="Form-Control"></label>
        <input asp-for="Designation" class="form-control" />
        <span asp-validation-for="Designation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CompanyId" class="Form-Control"></label>
        <input asp-for="CompanyId" class="form-control" />
        <span asp-validation-for="CompanyId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DepartmentId" class="Form-Control"></label>
        <input asp-for="DepartmentId" class="form-control" />
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div> <br />
    
    <p class="text-danger">@ViewBag.ErrorMessage</p>
    <button type="submit" class="btn btn-success">save</button>
    <a asp-action="GetAllContacts" class="btn btn-secondary">Back to List</a>
</form>
@section Scripts {
    <!-- jQuery validation + Unobtrusive scripts -->
    <partial name="_ValidationScriptsPartial" />
}


